@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Headline:wght@200..700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Stack Sans Headline", sans-serif;
}

/* =============================================================================================== */

/* Container Principal - Ocupa toda a altura da tela */
.pagina {
    display: flex; /* Coloca os dois lados um ao lado do outro */
    width: 100%;
    height: 100vh;
    background-color: #fff; /* Fundo branco geral */
}

/* --- LADO ESQUERDO --- */
.lado_esquerdo {
    width: 50%; /* Ocupa metade da tela */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o círculo verticalmente */
    align-items: center; /* Centraliza o círculo horizontalmente */
    position: relative; /* Para posicionar o logo de forma absoluta se precisar */
}

.logo {
    position: absolute;
    top: 40px;
    left: 60px; /* Distância da esquerda igual ao Figma */
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.circulo_foto {
    width: 400px;
    height: 400px;
    background-color: #d9d9d9;
    border-radius: 50%; 
}

/* --- LADO DIREITO --- */

.lado_direito {
    width: 70%; /* A outra metade da tela */
    height: 100vh;
    display: flex;
    align-items: center; /* Centraliza o card preto verticalmente */
}

/* O Cartão Preto Arredondado */
.bloco_preto {
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 50px;
    padding: 40px;
    color: #fff;
}

/* --- MENU DENTRO DO BLOCO PRETO --- */
.nav_list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
}

.nav_list a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.5s;
}

.nav_list a:hover {
    color: #6a1b9a;
    transform: scale(1.05);
}
/* =============================================================================================== */

/* --- Conteudo Principal --- */

.conteudo_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.texto_principal {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
}

/* --- Botoes --- */

/* Container dos botões */
.btn_dowload {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 20px; 
    margin-top: 25px;
    flex-wrap: wrap;
}

/* Botão CV */
.btn_cv {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border: 1px #fff solid;
    border-radius: 30px;
    padding: 15px 80px;
    width: 100%;
    max-width: 240px; 
    cursor: pointer; 
    transition: 0.5s;
}

.btn_cv a {
    color: #fff;
    text-decoration: none;
}

/* Botão Contatos */
.btn_contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border: 1px #000 solid;
    border-radius: 30px;
    padding: 15px 80px;
    width: 100%;
    max-width: 160px; 
    cursor: pointer;
    transition: 0.5s;
}

.btn_contatos a {
    color: #000;
    text-decoration: none;
}

/* Efeito Hover (Opcional, mas fica bonito) */
.btn_cv:hover, .btn_contatos:hover{
    transform: scale(1.05);
}
/* =========================================================================== */

.btn_sociais {
    margin-top: 30px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.github img {
    width: 80px;
}

.linkedin img{
    margin-top: 4%;
    width: 70px;
}

/* =============================================================================================== */

